{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7">

            </div>
            <div class="col-md-5">
                <h1 class="mt-4">{{property.title}}</h1>
                <h2>{{property.rooms}} pièces - {{property.surface}} m2</h2>
                <div class="text-primary" style="font-size: 1.8rem; font-weight:bold">{{property.formattedPrice }} €</div>
                <a href="#" class="btn btn-secondary">Contacter l'agence</a>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">

    <p>{{property.description | nl2br}}</p>

    <div class="row">
        <div class="col-md-7">
            <h2>Caracteristiques</h2>
            <table class="table table-striped">
                <tr>
                    <td>Surface habitable</td>
                    <td>{{property.surface }} m2</td>
                </tr>
                <tr>
                    <td>Pièces</td>
                    <td>{{property.rooms }}</td>
                </tr>
                <tr>
                    <td>Chambres</td>
                    <td>{{property.bedrooms}}</td>
                </tr>
                <tr>
                    <td>Type de chauffage</td>
                    <td>{{property.heatType}}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-5">
            <h2>Spécificités</h2>
        </div>
    </div>
</div>

{% endblock %}